# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
python>=3.9

# Once installed and activated, please run
# pip install --user numpy>=1.26 gym==0.26.2 scikit-image==0.21.0 torch==2.1.0 matplotlib==3.8.0

# ImageMagick may be also needed in testAnimation.py. To install, please run
# sudo apt update
# sudo apt install imagemagick

torch==2.1.0
numpy>=1.26
gym==0.26.2
scikit-image==0.21.0
matplotlib==3.8.0
